@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import 'transitions-and-animations.scss';
@import 'variables.scss';

body,html {
  height: 100%;
  margin: 0;
  font-family: "Courier", monospace;
  color: white;
}

a {
  color: white;
}

.router-link:hover {
  cursor: pointer;
  color: darkgray;
}

.custom-link {
  text-decoration: none;
  color: white;
}

.custom-link:hover {
  cursor: pointer;
  color: darkgray;
}


.router-link-exact-active {
  background-color: darkslategrey;
}

.media-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.15
}

.h-super1 {
  font-size: 4rem;
}

.h-super2 {
  font-size: 3rem;
}

.vue-typer .custom.char {
  color: rgb(220,220,200);
}

.clickable {
  text-decoration: underline;
  color: forestgreen;
}
.clickable:hover {
  cursor: pointer;
}

.text-page {
  color: $text-color-primary;
  padding: 25px;
  position: relative;
}




